#u982-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1006-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u999-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u992-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1017-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u319-4,#u278-4,#u203-4,#u217-4,#u223-4,#u283-4,#u280-4,#u1096-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1097-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1094-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1092-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1088-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1086-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1194-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1193-5
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu1095_input,#widgetu1095_prompt,#widgetu1091_input,#widgetu1091_prompt,#widgetu1085_input,#widgetu1085_prompt,#widgetu1191_input,#widgetu1191_prompt
{
	font-family: ubuntu, sans-serif;
}

#u815-4,#u818-4,#u819-4,#u817-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u523-7,#u517-2,#u517-4,#u519-6,#u277-4,#u209-4,#u218-4,#u224-4,#u284-4,#u281-4,#u135-4,#u288-4,#u295-4,#u307-4,#u301-4,#u291-4,#u294-4,#u308-4,#u302-4,#u318-4,#u316-4,#u286-4,#u324-4,#u1020-4,#u1104-4
{
	font-family: ubuntu-n7, sans-serif;
}

